* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 14);
}

.begin {
    color: white;
    text-align: center;
    font-size: 35px;
}

.start {
    border: none;
    min-width: 80px;
    min-height: 50px;
    margin-top: 30px;
    border-radius: 40px;
    font-size: 20px;
    padding: 10px;
}

.mcq1 {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 20px;
    display: none;
}

.options1 {
    padding: 15px 0 5px 0;
    list-style: lower-alpha;
}

.options1 li {
    border: 1px solid rgb(137, 137, 137);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.options1 li:hover {
    transform: scale(1.01);
    background-color: whitesmoke;
}

.mcq2 {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 20px;
    display: none;
}

.options2 {
    padding: 15px 0 5px 0;
    list-style: lower-alpha;
}

.options2 li {
    border: 1px solid rgb(137, 137, 137);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.options2 li:hover {
    transform: scale(1.01);
    background-color: whitesmoke;
}

.mcq3 {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 20px;
    display: none;
}

.options3 {
    padding: 15px 0 5px 0;
    list-style: lower-alpha;
}

.options3 li {
    border: 1px solid rgb(137, 137, 137);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.options3 li:hover {
    transform: scale(1.01);
    background-color: whitesmoke;
}

.mcq4 {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 20px;
    display: none;
}

.options4 {
    padding: 15px 0 5px 0;
    list-style: lower-alpha;
}

.options4 li {
    border: 1px solid rgb(137, 137, 137);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.options4 li:hover {
    transform: scale(1.01);
    background-color: whitesmoke;
}

.mcq5 {
    background-color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 20px 40px;
    border-radius: 20px;
    display: none;
}

.options5 {
    padding: 15px 0 5px 0;
    list-style: lower-alpha;
}

.options5 li {
    border: 1px solid rgb(137, 137, 137);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.options5 li:hover {
    transform: scale(1.01);
    background-color: whitesmoke;
}

.end {
    display: none;
    color: white;
    text-align: center;
    font-size: 35px;
}

.end p{
    margin-top: 20px;
}

.end button {
    border: none;
    min-width: 80px;
    min-height: 50px;
    margin-top: 30px;
    border-radius: 40px;
    font-size: 20px;
    padding: 10px;
}

.timer-bar {
  width: 100%;
  background: #ddd;
  height: 6px;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 15px;
}

.timer-bar .fill {
  background: #e61212;
  height: 100%;
  width: 100%;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.scoreboard {
  display: none;
}